! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #517685, #98ddfa, argb:82ffffff
rofi.color-normal: #517685, #ffffff, #517685, #7da0af, #ffffff
rofi.color-active: #517685, #ffffff, #517685, #7da0af, #ffffff
rofi.color-urgent: #517685, #ffffff, #517685, #7da0af, #ffffff
!------------------------------------------------------------------------------
! URXVT Config
!
!------------------------------------------------------------------------------
! font
URxvt*font: xft:monofur for powerline:size=10
Xft.autohint: 1
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! Disable Scroll bar
URxvt*scrollBar: false

! terminal padding
URxvt.internalBorder: 2

!urxvt*tintColor:white
!urxvt*transparent:true
!urxvt*shading:20


! colors
URxvt*background:        #2F343F
URxvt*foreground:        #D0D0D0
URxvt*cursorColor:       #DDFFDD
URxvt*colorUL:           #FFFFFF
URxvt*underlineColor:    #dfaf8f
URxvt*color0:            #393939
URxvt*color1:            #D46765
URxvt*color2:            #41D6D8
URxvt*color3:            #CEB07F
URxvt*color4:            #5D96C1
URxvt*color5:            #DB76A7
URxvt*color6:            #6FB3AE
URxvt*color7:            #9A9A9A
URxvt*color8:            #5D5D5D
URxvt*color9:            #EBB199
URxvt*color10:           #7ED78D
URxvt*color11:           #D9D862
URxvt*color12:           #94B3E4
URxvt*color13:           #9295D0
URxvt*color14:           #D8D8D8
URxvt*color15:           #D8D8D8
